// ==========================================================================
//
// Stylesheet: Large Breakpoint
//
// ==========================================================================

// Layout

#container {
    @include container;
}

.layout-2c-l #content {
    @include span-columns(8, 12);
}
.layout-2c-r #content {
    @include span-columns(8 omega, 12);
}
    
.layout-2c-l .sidebar {
    @include span-columns(4 omega, 12);
}
.layout-2c-r .sidebar {
    @include span-columns(4, 12);
}

// Header

#site-title {
    float:      left;
    text-align: left;
    padding:    0;
    @include rem-fallback(margin-left, $content-gutter);
    a {
        background-image: url('images/logo.png');
        background-size: 100%;
        width: 564px;
        height: 65px;
    }
}

#site-description {
    clear:      left;
    float:      left;
    text-align: left;
}

// Menu

#menu-primary .nav { float: left; }

// Respond/Comments

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"] {
    display:   block;
    width:     50%;
    min-width: 400px;
    padding:   10px 1.563em;
}

//Subsidiary sidebar

#sidebar-subsidiary .widget {
    float:     left;
    @include span-columns(3, 12);
    color:     #333;
    font-size: 0.875em;
    &:first-child {
        margin-right: 0;
    }
}

// Footer

#footer {
    .copyright {
        float:      left;
        width:      49%;
        text-align: left;
    }
    .credit {
        float:      right;
        width:      49%;
        text-align: right;
    }
}

// Primary Menu

/*#menu-primary ul {
    text-align: center;
}*/
.menu-toggle { display: none; }

#menu-primary .wrap {
    display:    block;
    clear:      both;
    margin:     0;
    padding:    0;
}

#menu-primary .menu-items {
    zoom: 1;
}

#menu-primary .menu-items::before,
#menu-primary .menu-items::after {
    content: "";
    display: table;
}

#menu-primary .menu-items::after {
    clear: both;
}

#menu-primary .menu-items > ul {
    width:  100%;
    margin: 60px auto;
}

#menu-primary ul ul {
    position:   absolute;
    z-index:    1;
    top:        48px;
    visibility: hidden;
    margin:     20px 0 0;
    text-align: left;
}

#menu-primary li:hover > ul {
    visibility: visible;
    margin:     0;
}

#menu-primary ul ul ul {
    top:    0;
    left:   230px;
    margin: 0 0 0 20px;
}

#menu-primary li {
    position: relative;
    float:    left;
    display:  inline-block;
}

#menu-primary li a {
    display: inline-block;
    background-color: transparent;
    padding: 0 0.5em 0 0;
    margin-right: 1.5em;
}
