// ==========================================================================
//
// Stylesheet: Medium Breakpoint
//
// ==========================================================================

body { 
  font-size: 18px;
  font-size: 1.2rem;
}

// Pullquote plugin style according to the grid
.layout-2c-l .pulled-right {
  @include span-columns($total-columns);
  margin-bottom: 1em;
}

#menu-primary,
#sidebar-primary,
#content { 
    @include rem-fallback(padding-left, $content-gutter);
    @include rem-fallback(padding-right, $content-gutter);
}

.comment-list { font-size: 1em; }
.entry-title {
  font-size:  44px;
  font-size:  2.75rem;
}
.sidebar-primary {
  padding-left: 1em;
  padding-right: 1em;
}

// Forms

#respond textarea {
  padding: 1.250em;
}